{% extends "base.html" %}

{% block title %}Kirjaudu sisään - JSHealthPro{% endblock %}

{% block content %}
    <h1>Kirjaudu sisään</h1>
    {% if message %}
        <div style="color: red;">{{ message }}</div>
    {% endif %}
    <form method="post">
        <label for="username">Käyttäjätunnus:</label><br>
        <input type="text" id="username" name="username" required><br><br>
        <label for="password">Salasana:</label><br>
        <input type="password" id="password" name="password" required><br><br>
        <button type="submit">Kirjaudu</button>
    </form>
    <p>Ei vielä tiliä? <a href="{{ url_for('auth.register') }}">Rekisteröidy</a></p>
{% endblock %}